[submodule "cinch-utils"]
	path = cinch-utils
	url = ../cinch-utils.git
[submodule "cinch"]
	path = cinch
	url = ../cinch.git
[submodule "legion"]
	   path = legion
	   url = git@gitlab.com:StanfordLegion/legion.git
	   branch = control_replication
