[submodule "cinch-utils"]
	path = cinch-utils
	url = git@github.com:laristra/cinch-utils.git
[submodule "cinch"]
	path = cinch
	url = git@github.com:laristra/cinch.git
[submodule "legion"]
	   path = legion
	   url = git@gitlab.com:StanfordLegion/legion.git
	   branch = control_replication
